html {
	height: 100%;
}
body {
	background-color: rgb(100, 100, 100);
}
#logo {

	position: absolute;
	bottom: top;
	left: 230px;
	width: 100%;
	height: 100%;
    background-repeat: no-repeat;
	background-image: url("images/logo.png");
	background-position: top left;
	}
#quiz {
    display: block;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 350px);
	width: 700px;
	height: 155px;
	cursor: pointer; 
    background-repeat: no-repeat;
	background-image: url("images/quiz.png");
	background-position:bottom;
	}
#quiz_logo {
	float: right;
	width: 350px;
	height: 155px; 
    background-repeat: no-repeat;
	background-image: url("images/quiz\ logo.png");
}
#contenu {
	background-color: white;
	color: black;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;
}
#contenu h2 {
	text-align: center;
}
#contenu h3 {
	text-align: left;
}
a {
	color: white;
}
h1 {
	text-align:center;
}
h3 {
	text-align: center;
}
h4 {
	text-align: left;
	color: rgb(202, 192, 192);
}
h5 {
	color: greenyellow;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(202, 192, 192);
}
#logo-no-game {
	position: absolute;
	top: 2px;
	right:215px;
	width: 64px;
	height: 56px;
    background-repeat: no-repeat;
	background-image: url("images/logo.png");
	background-position: top left;
}

/***[Menu]***************/

.monBoutton {
	background-color: rgb(88, 88, 88);
	color:white;
	position: absolute;
	font-weight: bold;
	padding: 10px 40px;
	border-radius: 18px;
	cursor: pointer; 
	box-shadow: 0 8px 16px 0 rgba(32, 32, 32, 0.959);
	text-decoration: none;
}
.monBoutton2 {
	background-color:rgba(88, 88, 88, 0.918);
	color:rgb(231, 255, 249);
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer; 
	box-shadow: 0 10px 10px 0 #494949be;
	text-decoration: none;
}

/***[PAN]****************/
#hokusai {
	background-image: url("images/hokusai.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#pan {
	position: absolute;
	bottom: 50%;
	right: 0%;
	width: 300px;
	height: 300px; 
	background-size: cover;
    background-repeat: no-repeat;
	background-image: url("images/pain.png");
	background-position:center;
	animation-name: example;
  animation-duration: 1s;
}
#paina {
	background-color: white;
	color: black;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;
	position: absolute;
	bottom: 0%;
}
.monBoutton3 {
	background-color:rgba(255, 0, 0, 0.918);
	color:rgb(231, 255, 249);
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer; 
	box-shadow: 0 10px 10px 0 #494949be;
	text-decoration: none;
	animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
	from {padding: 25px;}
  to {padding: 5px;}
}
/***[Access]************/
#username {
	width: 366px;
	text-align: center;
	margin: auto;
	font-family: sans-serif;
}
#username.hidden {
	display: none;
}
#username div {
	float: left;
	width: 100px;
	border: 1px solid rgb(81, 85, 85);
	margin: 10px;
	padding: 30px 0;
	background-color:rgb(75, 75, 75);
	cursor:pointer;
	user-select: none;
	border-radius: 20px;
	box-shadow:0 6px 16px 0 #63636362;
}
#username div.action {
	background-color:rgba(59, 59, 59, 0.973);
}
#username div:hover {
	border-color: rgb(238, 238, 238);
}
#password {
	width: 366px;
	text-align: center;
	margin: auto;
	font-family: sans-serif;
}
#password.hidden {
	display: none;
}
#password div {
	float: left;
	width: 100px;
	border: 1px solid rgb(81, 85, 85);
	margin: 10px;
	padding: 30px 0;
	background-color:rgb(75, 75, 75);
	cursor:pointer;
	user-select: none;
	border-radius: 20px;
	box-shadow:0 6px 16px 0 #63636362;
}
#password div.action {
	background-color:rgba(59, 59, 59, 0.973);
}
#password div:hover {
	border-color: rgb(238, 238, 238);
}


#granted, #incorrect, #alert {
	display: none;
	clear: left;
	font-family: sans-serif;
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps;
	padding: 10px 30px;
	margin: 60px auto;
	width: 300px;
	background: rgb(19, 19, 19);;
	text-align: center;
	border-radius: 40px;
}
#granted {
	color: green;
	border: 2px solid green;
}
#incorrect {
	color: yellow;
	border: 2px solid yellow;
}
#alert {
	color: red;
	border: 2px solid red;
}
#granted.active, #incorrect.active, #alert.active {
	display: block;
}
